
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
:root{
  /*===== Colores =====*/
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .85rem;
}
::webkit-scrollbar{
  width:  10px;
}
::webkit-scrollbar-thumb{
  background-color: var(--opposite-color);
  border-radius: 10px;
}
body, html {
    font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
a{
  color: rgb(0, 106, 255);
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {

}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-wrap: wrap;
}


.wrap-login100 {
  width: 550px;
  background: #fff;
  padding-top: 0px;
  margin-top: -50px;
  border-radius: 2px;
  position: relative;
}
.wrap-login10 {
  width: 550px;
  background: #fff;
  margin-top: -30px;
  border-radius: 2px;
  position: relative;
}
/*------------------------------------------------------------------
[ Login100 more ]*/
.login100-more {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  width: calc(100% - 550px);
  position: relative;
  z-index: 1;
}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login100-form-title {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}



/*------------------------------------------------------------------
[ Input ]*/


/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.overlay, .form-panel.one:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
}
.form-group {
  margin: 0 0 20px;
}
.form-group button {
  outline: none;
  background: rgb(0, 106, 255);
  width: 90%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  margin-top: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
}
.form-group button:hover {
background-color: rgb(13, 69, 153);
  color: white;
}
.form-group .button1 {
  outline: none;
  background: white;
  width: 90%;
  border: 1px solid rgb(0, 106, 255);
  border-radius: 4px;
  padding: 12px 20px;
  color: rgb(0, 106, 255);
  margin-top: 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
}
.form-group .button1:hover {
background-color: rgb(0, 106, 255);
  color: white;
}
.form-group .form-recovery {
  color: #4f4f4f;
  font-size: 13px;
  margin-top: 15px;
  float: left;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.form-group .form-recovery1 {
  color: #4f4f4f;
  font-size: 13px;
  margin-top: 15px;
  float: right;
  padding-right: 40px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.form-header {
  margin-top:  20px;
}
.form-header h1 {
  padding: 10px 0;
  color: black;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700px;
  
  margin-right: 2vw;
}
.form-header .img-parent {
  padding: 4px 0;
  height : 100px;
  width:  100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2vw;

}
.form-header .logo {
  padding: 4px 0;
  height : 80px;
  width:  60%;
  
}
.form-header a {
  width: 100%;

}
.input-contain{
    position: relative;
}
input{
    height: 3.5rem;
    width: 90%;
    padding: 12px 20px;
    border: 1px solid #717171;
    border-radius: 0.5rem;
}
input:focus{
    outline: none;
    border-color: #006aff;
    border: 2px solid #006aff;
}
input:focus + .placeholder-text .text, :not(input[value=""]) + .placeholder-text .text{
    background-color: white;
    font-size: 0.9rem;
    color: black;
    transform: translate(0, -110%);
}
input:focus + .placeholder-text .text{
    border-color: #006aff;
    color: #006aff;
}
.placeholder-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid transparent;
    background-color: transparent;
    pointer-events: none;
    display: flex;
    align-items: center;
}
.text{
    font-size: 1.1rem;
    padding: 0 0.5rem;
    background-color: transparent;
    transform: translate(0);
    color: #717171;
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
}
input, .placeholder-text{
    font-size: 1.2rem;
    padding: 0 1.2rem;
}
.alert {
  padding: 10px;
  background-color: #F04949;
  color: white;
  width: 90%;
  font-size: 14px;
  margin-bottom: -20px;
  margin-top: 10px;
}
.btn-success {
  background-color: #28a745;
  padding: 10px;
  color: white;
  width: 90%;
  font-size: 14px;
  margin-bottom: -20px;
  margin-top: 10px;
  display: none;
   }
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.form__div{
  position: relative;
  height: 48px;
  margin-top: 1.5rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}

.form__input:focus + .form__label{
  top: -.7rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.7rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:focus{
  border: 1.5px solid var(--first-color);
}
.er{
  display: none;
  color: red;
}
.emenu {
  height: 70px;
  background: #ffffff;
}

.sub-emenu {
  max-width: 1270px;
  margin: 0 auto;
}
.hlogo
{
  margin-left: 4px;
  margin-top: 10px;
}
::-webkit-scrollbar{
  width:  7px;
}
::-webkit-scrollbar-thumb{
  background-color: #006aff;
  border-radius: 10px;
}